<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="background">
        <nav>
            <h1></h1>
            <ul>
                <li><a href="../templates/about.html">Home</a></li>
                <li><a href="../templates/info.html">Info</a></li>
                <li><a href="../templates/index6.html">Predict</a></li>
            </ul>
        </nav>
        <h1>ECG Arrhythmia Classification using CNN</h1>
        <h2>Overview</h2>
    <div class="paragraph">
        <p>A heart arrhythmia (uh-RITH-me-uh) is an irregular heartbeat. <br>
         Heart rhythm problems (heart arrhythmias) occur when the electrical signals that coordinate the heart's beats don't work properly.<br>
         The faulty signaling causes the heart to beat too fast (tachycardia), too slow (bradycardia) or irregularly.
        </p>
        <p>
            Heart arrhythmias may feel like a fluttering or racing heart and may be harmless. However, some heart arrhythmias may cause bothersome — sometimes even life-threatening — signs and symptoms. <br>
                However, sometimes it's normal for a person to have a fast or slow heart rate. For example, the heart rate may increase with exercise or slow down during sleep.<br>
                Heart arrhythmia treatment may include medications, catheter procedures, implanted devices or surgery to control or eliminate fast, slow or irregular heartbeats. A heart-healthy lifestyle can help prevent heart damage that can trigger certain heart arrhythmias.
        </p>
        <h2>Types</h2>
        <p>
            In general, heart arrhythmias are grouped by the speed of the heart rate. For example:<br>
            <ol>
            <li>Tachycardia (tak-ih-KAHR-dee-uh) is a fast heart. The resting heart rate is greater than 100 beats a minute.</li>
            <li>Bradycardia (brad-e-KAHR-dee-uh) is a slow heartbeat. The resting heart rate is less than 60 beats a minute</li>
            </ol>
              
        </p>
        <h2>Symptoms</h2>
        <p>Heart arrhythmias may not cause any signs or symptoms. A doctor may notice the irregular heartbeat when examining you for another health reason.</p>
        <p>In general, signs and symptoms of arrhythmias may include:</p>
        <ul>
            <li>A fluttering in the chest</li>
            <li>A racing heartbeat (tachycardia)</li>
            <li>A slow heartbeat (bradycardia)</li>
            <li>Chest pain</li>
            <li>Shortness of breath</li>
        </ul>
        <p>Other symptoms may include:</p>
        <ul>
            <li>Anxiety</li>
            <li>Fatigue</li>
            <li>Lightheadedness or dizziness</li>
            <li>Sweating</li>
            <li>Fainting (syncope) or near fainting</li>
        </ul>
    </div>
    <div class="container">
        <div class="center">
          <button type="button">Predict</button>
        </div>
      </div>
    </div>    
</body>
</html>