<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <div class="background">
        <nav>
            <h1></h1>
            <ul>
                <li><a href="../templates/about.html">Home</a></li>
                <li><a href="../templates/info.html">Info</a></li>
                <li><a href="../templates/index6.html">Predict</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>